/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

::selection {background:#222E6A; color:#fff;}
::-moz-selection {background:#222E6A; color:#fff;}


/*.preload-wrapper { width: 50px; height: 50px; position: absolute; top: 50%; left: 50%; margin-left: -27px; margin-top: -10px; }
.preload { position:relative; width:30px; height:30px; background:rgba(0,0,0,.3); border-radius:50px; animation: preload 1.5s infinite linear; }
.preload:after { position:absolute; width:40px; height:40px; border-top:5px solid rgba(0,0,0,.2); border-bottom:5px solid rgba(0,0,0,.2); border-left:5px solid transparent; border-right:5px solid transparent; border-radius:50px; content:''; top:-10px; left:-10px; animation: preload_after 1.5s infinite linear; }*/
@keyframes preload {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);background:rgba(0,0,0,.1)}
    100% {transform: rotate(360deg);}
}
@keyframes preload_after {
    0% {border-top:5px solid rgba(0,0,0,.2);border-bottom:5px solid rgba(0,0,0,.2);}
    50% {border-top:5px solid rgba(0,0,0,.4);border-bottom:5px solid rgba(0,0,0,.4);}
    100% {border-top:5px solid rgba(0,0,0,.2);border-bottom:5px solid rgba(0,0,0,.2);}
}

@keyframes rotate {
	0% {
		width: 64px;
		height: 64px;
		transform: rotate(0deg)
	}
	50% {
		width: 30px;
		height: 30px;
		transform: rotate(180deg)
	}
	100% {
		width: 64px;
		height: 64px;
		transform: rotate(360deg)
	}
}



html, body {font-size:16px; font-family: "Inter", sans-serif; font-weight:400; color:#626A8F; background:#FFFFFF; line-height:1.3; min-width:375px; margin:0 auto; position:relative; max-width: 1920px;}

.overlay{overflow-y: hidden; }
.main{position: relative; width: 100%; overflow-x: hidden;}
.overlay .main::before{content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.7); z-index: 2;}

.overlay #header_menu{z-index: 3;}



*:focus {outline:none; box-shadow:none;}
img {max-width:100%;}

a {color:#5C93F5; text-decoration:underline; -webkit-transition:all 0.3s ease; -moz-transition:all 0.3s ease; -o-transition:all 0.3s ease; transition:all 0.3s ease;}
a:hover {text-decoration:none; color:#5C93F5;}
p {margin:0;}
*+p {margin-top:16px;}
*+table {margin-top:16px;}
b, strong {font-weight:700;}
*+h1, *+.h1 {margin-top:48px}
*+h2, *+.h2 {margin-top:48px}
*+h3, *+.h3 {margin-top:30px}

.-fw-500{font-weight: 500;}
.-fw-600{font-weight: 600;}
.-fs-48{font-size: 48px;}
.-fs-20{font-size: 20px;}

.blue {color:#222E6A;}
.gray{color: #353A52;}
.violet{color: #7C91FC;}
.center{text-align: center;}


.row {--bs-gutter-x: 40px;}

h1, .h1 {font-weight: 500; font-size: 32px; color: #0A1532; margin-bottom: 20px;}
h2, .h2 {font-weight: 500; font-size: 32px; color: #0A1532;}
h3, .h3 {font-weight: 500; font-size: 22px; color: #0A1532;}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {max-width:1400px; --bs-gutter-x:20px;}
/*.container-fluid{--bs-gutter-x:20px;}*/
.pr-0{padding-right: 0;}

.pb-20{padding-bottom: 20px;}
.pb-40{padding-bottom: 40px;}
.pb-60{padding-bottom: 60px;}

.btn {border: none; outline: none; -webkit-box-shadow: unset; box-shadow: unset; background: none; padding: 0;}

.btn-burger{}

.form-control{outline: none; -webkit-box-shadow: unset; box-shadow: unset;}
.btn:focus, .btn:hover, .form-control:focus, .form-control:hover{outline: none; -webkit-box-shadow: unset; box-shadow: unset;}







.btn-primary {font-size: 16px; color:#fff; background:#222E6A; border-radius:0; padding: 0 22px; box-shadow:none!important; line-height: 53px; border: 2px solid #222E6A}
.btn-primary:focus {color:#222E6A; background:#fff; border: 2px solid #222E6A}
.btn-primary:hover {color:#222E6A; background:#fff; border: 2px solid #222E6A;}

.btn-secondary{background: #FFFFFF; padding: 18px 22px; color: #18336C; font-size: 16px; text-align: center; box-shadow:none!important; border-radius:0;}
.btn-secondary:focus {color:#fff; background:#353A52; border: 0;}
.btn-secondary:hover {color:#fff; background:#353A52; border: 0;}


.btn-download.white{padding-left: 23px; border-bottom: 1px solid #fff; border-radius:0; color: #fff; position: relative; font-size: 14px;}
.btn-download.white::before{content: ''; background:  url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.1638 10.8594C16.0146 10.8594 15.8715 10.9186 15.766 11.0241C15.6606 11.1296 15.6013 11.2727 15.6013 11.4219V13.3428C15.6013 13.7956 15.4214 14.2298 15.1013 14.55C14.7811 14.8701 14.3469 15.05 13.8941 15.05H4.1066C3.65383 15.05 3.2196 14.8701 2.89944 14.55C2.57928 14.2298 2.39941 13.7956 2.39941 13.3428V11.4219C2.39941 11.2727 2.34015 11.1296 2.23466 11.0241C2.12917 10.9186 1.9861 10.8594 1.83691 10.8594C1.68773 10.8594 1.54466 10.9186 1.43917 11.0241C1.33368 11.1296 1.27441 11.2727 1.27441 11.4219V13.3428C1.27516 14.0937 1.57379 14.8137 2.10476 15.3446C2.63574 15.8756 3.35569 16.1743 4.1066 16.175H13.8941C14.645 16.1743 15.365 15.8756 15.8959 15.3446C16.4269 14.8137 16.7255 14.0937 16.7263 13.3428V11.4219C16.7263 11.2727 16.667 11.1296 16.5615 11.0241C16.456 10.9186 16.313 10.8594 16.1638 10.8594Z" fill="white"/><path d="M8.60145 12.4987C8.65374 12.5515 8.71595 12.5933 8.7845 12.6219C8.85304 12.6504 8.92656 12.6651 9.00082 12.6651C9.07508 12.6651 9.1486 12.6504 9.21715 12.6219C9.28569 12.5933 9.3479 12.5515 9.4002 12.4987L12.6008 9.29813C12.6901 9.19067 12.7362 9.05382 12.7302 8.91423C12.7241 8.77464 12.6663 8.6423 12.5681 8.54298C12.4698 8.44366 12.3381 8.38446 12.1986 8.37692C12.0591 8.36938 11.9217 8.41403 11.8133 8.50219L9.56332 10.7522V2.39062C9.56332 2.24144 9.50406 2.09837 9.39857 1.99288C9.29308 1.88739 9.15001 1.82813 9.00082 1.82812C8.85164 1.82813 8.70856 1.88739 8.60307 1.99288C8.49758 2.09837 8.43832 2.24144 8.43832 2.39062V10.7438L6.18832 8.49375C6.08277 8.3882 5.93962 8.32891 5.79035 8.32891C5.64108 8.32891 5.49793 8.3882 5.39238 8.49375C5.28684 8.5993 5.22754 8.74245 5.22754 8.89172C5.22754 9.04099 5.28684 9.18414 5.39238 9.28969L8.60145 12.4987Z" fill="white"/></svg>') no-repeat center center; width: 18px; height: 18px; display: block; position: absolute; bottom: 3px; left: 0;} 

.btn-download:focus,
.btn-download:hover{border-color: #222E6A;}

.btn-top{background: url('data:image/svg+xml,<svg width="22" height="13" viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.415 13L11 4.96491L2.585 13L0 10.5263L11 0L22 10.5263L19.415 13Z" fill="white"/></svg>') #222E6A no-repeat center center; width: 50px; height: 50px; position: fixed; bottom: 80px; right: 80px; z-index: 5; display: none; transition: all 0.3s; transform: translateZ(0); box-shadow: 0 0 1px rgba(0, 0, 0, 0);}
.btn-top:hover, .btn-top:focus, .btn-top:active { -webkit-transform: translateY(-8px); transform: translateY(-8px); }


.btn-buy{color:#fff; background: #3368C6; border-radius:0; padding: 0 20px; box-shadow:none!important; line-height: 40px; border: none; font-weight: 500; font-size: 14px;}
.btn-buy:focus {color:#fff; background:#222E6A; border: none;}
.btn-buy:hover {color:#fff; background:#222E6A; border: none;}

.btn-more{position: relative; padding: 0 22px 0 65px;}
.btn-more::before{content:''; background: url('data:image/svg+xml,<svg width="31" height="8" viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.646444 3.64645C0.451183 3.84171 0.451183 4.15829 0.646444 4.35355L3.82842 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.73079 7.34027 4.73079 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.73079 0.976311 4.73079 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82842 0.464466L0.646444 3.64645ZM31 3.5L0.999998 3.5V4.5L31 4.5V3.5Z" fill="white"/></svg>') no-repeat center center; width: 31px; height: 8px; display: block; position: absolute; top: 50%; left: 22px; transform: translateY(-50%);}

.btn-more:hover::before{background: url('data:image/svg+xml,<svg width="31" height="8" viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.646444 3.64645C0.451183 3.84171 0.451183 4.15829 0.646444 4.35355L3.82842 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.73079 7.34027 4.73079 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.73079 0.976311 4.73079 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82842 0.464466L0.646444 3.64645ZM31 3.5L0.999998 3.5V4.5L31 4.5V3.5Z" fill="%23222E6A"/></svg>') no-repeat center center;}

/*checkbox start*/
input[type=checkbox].custom-checkbox, input[type=radio].custom-radiobox {display: none;}
input[type=checkbox].custom-checkbox + label:before {content: ""; display: inline-block; width: 18px; height: 18px; background: #fff; border: 1px solid #222E6A; box-shadow: none; transition: color ease .3s; vertical-align: top; margin-right: 10px; border-radius: 0;}

input[type=radio].custom-radiobox + label:after{content: "";display: block; border: 3px solid #fff; box-shadow: 0px 0px 0px 1px #5C93F5; border-radius: 50%; background: #fff; height: 20px; width: 20px; transition: color ease .3s; margin-right: 15px;}

input[type=checkbox].custom-checkbox:checked + label:before {background: #222E6A; border: 1px solid #222E6A; background-image: url('data:image/svg+xml,<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.176 5.91782L0.804663 3.58647L0 4.37756L3.176 7.5L10 0.791092L9.19534 0L3.176 5.91782Z" fill="white"/></svg>'); background-position: center; background-repeat: no-repeat}

input[type=radio].custom-radiobox:checked + label:after {background: #222E6A;}
.radio-inline{position: relative;}
.radio-inline label{padding-left: 39px;}
.radio-inline input[type=radio].custom-radiobox + label:after{position: absolute; left: 0; top: 0;}
/*checkbox end*/


.main{}

.section{padding: 80px 0;}
.title{font-size: 40px; color: #18336C; font-weight: 600; line-height: 48px;}
.subtitle{color: #3368C6; letter-spacing: 0.05em; font-size: 14px; text-transform: uppercase;}



.header{padding: 18px 0 23px;}
	.header__top{}
		.header__row{align-items: flex-end; justify-content: space-between;}
			.navbar {padding:0; }
			.header__nav {}
				.header__burger{display: none; position: absolute; top: calc(50% - 8.5px); right: 15px; width: 31px; height: 17px; transition: all .3s;}

					.header__burger span, 
					.header__burger:after, 
					.header__burger:before{height: 3px; width: 31px; position: absolute; background: #3368C6; border-radius: 100px; margin: 0 auto; right: 0; transition: all .3s;}
					.header__burger span{top: calc(50% - 1.5px);}
					.header__burger:after, 
					.header__burger:before{content: ''; }
					.header__burger:after{ bottom: 0; }
					.header__burger:before{top: 0; }

					.header__burger.close{}
					.header__burger.close span{background-color: transparent;}
					.header__burger.close:before,
					.header__burger.close:after{top: 7px;}
					.header__burger.close:before{transform: rotate(45deg);}
					.header__burger.close:after{transform: rotate(-45deg);}

				.header__menu{}
					.header__nav-list{display: flex; align-items: center; list-style-type: none; margin-bottom: 0; padding-left: 0;}
						.nav-item{}
							.nav-link{font-size: 14px; color: #222E6A; padding: 0 20px;}
							.nav-link:hover{color: #7C91FC}

			.header__search{position: relative; width: 200px; border-bottom: 1px solid #18336C; background: #FFFFFF; display: flex; align-items: center; height: 26px;  font-size: 14px; color: #9D9D9D; padding-bottom: 8px; top: 6px;}
			.header__search::before{content: ''; background: url(../i/icon-search.svg) no-repeat center; width: 18px; height: 18px; display: block; position: absolute; top: 0; left: 0;}
				.header__search-input{height: 25px; width: 100%; border: 0; padding: 0; padding-left: 28px;}
				.header__search-input::placeholder{font-size: 14px; color: #9D9D9D;}
				.header__search-button{display: none;}
				input[type="search"]::-webkit-search-decoration,
				input[type="search"]::-webkit-search-cancel-button,
				input[type="search"]::-webkit-search-results-button,
				input[type="search"]::-webkit-search-results-decoration {
					-webkit-appearance:none;
				}
			.header__actions{display: flex; align-items: center;}
				.header__action-item{position: relative; text-decoration: none;}
					.header__amount{position: absolute; top: -10px; right: -10px; font-size: 12px; }
				.header__compare{background: url(../i/icon-compare.svg)no-repeat center; width: 24px; height: 24px; margin-right: 28px; display: block;}
				.header__favorite{background: url(../i/icon-favorite.svg)no-repeat center; width: 25px; height: 21px; display: block;}
				
.promo{padding-bottom: 80px;}
	.promo__slider-pagination{position: absolute; top: 40px; right: 32%; left: auto; display: flex; align-items: flex-end; width: 90px; background: #353A52; border: 1px solid #505C97; height: 40px; padding: 8px 15px;}
		.promo__slider-pagination .current{font-size: 20px; color: #FFFFFF; font-weight: 500;}
		.promo__slider-pagination .current::after{content: '/'; font-size: 14px; color: #FFFFFF; margin:0 6px;}
		.promo__slider-pagination .total{font-size: 14px; font-weight: 500; color: #85A3D9;}

		.promo__slider-nav{position: absolute; bottom: 40px; display: flex; align-items: center; border: 1px solid #505C97; background: #353A52; height: 40px; z-index: 2; padding: 13px; gap: 10px;}

			.promo__slider-nav .swiper-button-prev{background: url(../i/arrow-left-white.svg) no-repeat center center; display: block; width: 40px; height: 40px; background-repeat: no-repeat; background-size: contain;background-position:center; margin-top: 0; margin-bottom: 0;}
			.promo__slider-nav .swiper-button-next{background: url(../i/arrow-right-white.svg) no-repeat center center; display: block; width: 40px; height: 40px; background-repeat: no-repeat; background-size: contain;background-position:center; margin-top: 0; margin-bottom: 0;}
			.swiper-button-next, .swiper-button-prev{position: static;}
			.swiper-button-next:after,	.swiper-button-prev:after{display: none; }




	.promo__item{height: 650px; background-position: center center !important; background-size: cover !important;}
	.promo__item::before{content: ''; background:  rgba(255, 255, 255, 0.6); position: absolute; top: 0;left: 0;right: 0; bottom: 0;}
	.promo__container{position: relative;}
		.promo__row{align-items: center;}
			.promo__img{position: relative; height: 650px;}
				.promo__img img{position: absolute; left: -26%; bottom: 20%; transform: rotate(-17deg);}

			.promo__item-top{font-size: 16px; color: #7C91FC; margin-bottom: 15px;}
			.promo__item-title{font-size: 48px; font-weight: 600; line-height: 58px; text-transform: uppercase; color: #18336C; margin-bottom: 40px;}
			.promo__item-text{max-width: 508px; font-size: 16px; color: #626A8F; line-height: 1.5; margin-bottom: 40px; }

	.catalog{}
		.catalog__top{display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;}
				
			
				.catalog__item{position: relative; display: flex; align-items: flex-end; justify-content: flex-end; height: 340px; text-decoration: none; background: #F8FBFF;}
					.catalog__item-title{font-size: 24px; font-weight: 500; line-height: 29px; position: absolute; top: 30px;left: 30px; z-index: 2; color: #222E6A; }
					.catalog__item:hover .catalog__item-title{color: #FFFFFF; }
					.catalog__item:hover{background: #222E6A; }
					.catalog__item-img{}
					

.profit{}
	.profit__wrap{background: url(../i/bg-profit.png) no-repeat top center; padding: 60px 80px 0;background-size: 100% 300px;}
		.profit__subtitle{margin-bottom: 15px; }
		.profit__subtitle_center{text-align: center;}
		.profit__title_center{text-align: center; padding-bottom: 50px;}
		.profit__items{background: #fff; box-shadow: 0px 4px 15px rgba(190, 208, 255, 0.25);}
			.profit__item{position: relative; padding: 30px 40px;}
			.profit__item::after{content: ''; background: #DFE8FF; width: 1px; height: auto; position: absolute; top: 30px; right: 0; bottom: 30px}
			.profit__col:last-child .profit__item::after{display: none;}
				.profit__item-icon{margin-bottom: 15px;}
				.profit__item-text{font-size: 16px; color: #626A8F; line-height: 1.5;}





.projects{}
	.projects__col:first-child{max-width: 420px; margin-left: auto;}
		.projects__subtitle{margin-bottom: 15px;}
		.projects__info{display: flex; flex-direction: column; justify-content: space-between; height: 100%;}
		.projects__nav{display: flex; margin-top: -40px;}
		.projects__nav .btn{margin-top: 0;}

					.btn-prev{background: url('data:image/svg+xml,<svg width="31" height="8" viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.646444 3.64645C0.451183 3.84171 0.451183 4.15829 0.646444 4.35355L3.82842 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.73079 7.34027 4.73079 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.73079 0.976311 4.73079 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82842 0.464466L0.646444 3.64645ZM31 3.5L0.999998 3.5V4.5L31 4.5V3.5Z" fill="%233368C6"/></svg>')#fff no-repeat center center; width: 40px; height: 40px;}
					.btn-next{background: url('data:image/svg+xml,<svg width="31" height="8" viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30.3536 3.64645C30.5488 3.84171 30.5488 4.15829 30.3536 4.35355L27.1716 7.53553C26.9763 7.7308 26.6597 7.7308 26.4645 7.53553C26.2692 7.34027 26.2692 7.02369 26.4645 6.82843L29.2929 4L26.4645 1.17157C26.2692 0.976311 26.2692 0.659728 26.4645 0.464466C26.6597 0.269204 26.9763 0.269204 27.1716 0.464466L30.3536 3.64645ZM0 3.5L30 3.5V4.5L0 4.5L0 3.5Z" fill="%233368C6"/></svg>')#fff no-repeat center center; width: 40px; height: 40px;}
					.btn-prev:hover{background: url('data:image/svg+xml,<svg width="31" height="8" viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.646444 3.64645C0.451183 3.84171 0.451183 4.15829 0.646444 4.35355L3.82842 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.73079 7.34027 4.73079 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.73079 0.976311 4.73079 0.659728 4.53553 0.464466C4.34027 0.269204 4.02369 0.269204 3.82842 0.464466L0.646444 3.64645ZM31 3.5L0.999998 3.5V4.5L31 4.5V3.5Z" fill="white"/></svg>')#18336C no-repeat center center; width: 40px; height: 40px;}
					.btn-next:hover{background: url('data:image/svg+xml,<svg width="31" height="8" viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30.3536 3.64645C30.5488 3.84171 30.5488 4.15829 30.3536 4.35355L27.1716 7.53553C26.9763 7.7308 26.6597 7.7308 26.4645 7.53553C26.2692 7.34027 26.2692 7.02369 26.4645 6.82843L29.2929 4L26.4645 1.17157C26.2692 0.976311 26.2692 0.659728 26.4645 0.464466C26.6597 0.269204 26.9763 0.269204 27.1716 0.464466L30.3536 3.64645ZM0 3.5L30 3.5V4.5L0 4.5L0 3.5Z" fill="white"/></svg>')#18336C no-repeat center center; width: 40px; height: 40px;}
				
		.projects__slider-wrapper {position: relative; margin-left: 0; padding-right: 0; max-width: 64.2%; padding-left: 71px;}
			.projects__slider {}
				.projects__item{text-decoration: none; min-width: 295px; display: block;}
					.projects__item-image{display: block; }
						.projects__item-image img{width: 100%; height: 220px; object-fit: cover; max-width: none;}
					.projects__item-info{border-bottom: 1px solid #18336C; padding: 10px 0px; display: flex; justify-content: space-between; align-items: center; min-height: 60px;}
						.projects__item-title{font-size: 16px; color: #18336C; }
						.projects__item-arrow{background: url('data:image/svg+xml,<svg width="31" height="8" viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30.3536 3.64645C30.5488 3.84171 30.5488 4.15829 30.3536 4.35355L27.1716 7.53553C26.9763 7.7308 26.6597 7.7308 26.4645 7.53553C26.2692 7.34027 26.2692 7.02369 26.4645 6.82843L29.2929 4L26.4645 1.17157C26.2692 0.976311 26.2692 0.659728 26.4645 0.464466C26.6597 0.269204 26.9763 0.269204 27.1716 0.464466L30.3536 3.64645ZM0 3.5L30 3.5V4.5L0 4.5L0 3.5Z" fill="%233368C6"/></svg>') no-repeat center center; width: 31px; height: 8px; display: block;}

.feedback{padding-bottom: 120px;}
	.feedback__info{max-width: 500px;}
		.feedback__subtitle{margin-bottom: 15px;}
		.feedback__title{margin-bottom: 30px;}
		.text{color: #626A8F; font-size: 16px; line-height: 24px;}
		.feedback__text{}
	.feedback__form{}
		.feedback__form .form-control{border: 0; border-bottom: 1px solid #222E6A; height: 55px; padding: 18px 15px; margin-bottom: 20px; border-radius: 0; }
		.feedback__form .form-control::placeholder{color: #9D9D9D;}
		.form__agree{margin-bottom: 25px; color: #18336C;}
		.form__agree a{ text-underline-offset: 5px; color: #18336C;}

.top{}
	.top__wrapper{min-height: 340px; display: flex; align-items: flex-end; position: relative;}
	.top__wrapper::before{content: ''; position: absolute; top: 0; right: 0; left: 0; bottom: 0; background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));}
	
		.top__info{background: #222E6A; max-width: 560px; width: 100%; padding: 36px 30px; position: relative;}
			.top__subtitle{margin-bottom: 15px; color: #7C91FC; font-size: 16px; text-transform: none;}
			.top__title{color: #fff; font-size: 48px; text-transform: uppercase; line-height: 1.2;}

.breadcrumbs{}
.breadcrumb{margin-bottom: 0;}
	.breadcrumbs nav{}
		.breadcrumb{padding: 25px 0; border-bottom: 1px solid #DFE8FF;}
			.breadcrumb-item a{color: #979797; text-decoration: none;}
			.breadcrumb-item.active{color: #222E6A;}
			.breadcrumb-item+.breadcrumb-item{padding-left: 5px;}
			.breadcrumb-item+.breadcrumb-item::before{padding-right: 5px; color: #979797;}
			
.company{padding-bottom: 0;}
	.company__title{max-width: 529px; padding-bottom: 20px;}
	.company__text{padding-bottom: 40px;}
	.company__btn{}
		.company__nums{margin-top: 40px;}
		.nums{padding-bottom: 80px; border-bottom: 1px solid #DFE8FF;}
			.nums__item{border: 1px solid #222E6A; height: 122px; padding: 20px;}
				.nums__title{font-size: 40px; font-weight: 600; color: #18336C; margin-bottom: 10px;}
				.nums__text{color: #626A8F;}
			.nums__item:hover{background: #222E6A;}
			.nums__item:hover *{color: #fff;}

.history{position: relative;}
.history:after{content: ''; background: #DFE8FF; width: 100%; height: 1px; max-width: 1400px; position: absolute; bottom: 0; left: 0; right: 0; display: block; margin: auto;}

.history__top{padding-bottom: 40px;}

	.history__row{align-items: center;}
		.history__nav{display: flex; align-items: center; overflow: hidden; justify-content: space-between;}
			.tabs-container {display: flex; overflow-x: auto; scroll-behavior: smooth; width: calc(100% - 160px); justify-content: space-between;}
			.tabs-container::-webkit-scrollbar { display: none; } 

			.nav-prev, .nav-next { cursor: pointer; padding: 10px; }
		.history__nav.nav-tabs{border: 0; }
			.history__nav-link{font-size: 20px; color: #18336C; padding: 0 20px; flex: none; white-space: nowrap;}
			.history__nav-link:first-child{padding-left: 0!important;}
			.history__nav-link.active{color: #3368C6; font-weight: 700;}
			.history__nav-prev{margin-right: 30px;}
			.history__nav-next{margin-left: 30px;}






			.history .nav-link{margin: 0; border: 0; color: #18336C;}
			.history .nav-link.active{color: #3368C6;}
			.history__img{position: relative; }
			.history__img::before{content: ''; position: absolute; top: 0; right: 0; left: 0; bottom: 0; background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5))}
			.history__img span{position: absolute; bottom: 0; left: 0; color: #FFFFFF; font-size: 200px; font-weight: 900; line-height: 0.6; max-width: 520px; letter-spacing: -8px;} 
			.swiper-slide-active .history__img::before{display: none;}









.history__content{}		
	.history__content-item{display: none;}
	.history__content-item.active{display: block;}
		.history__content-row{align-items: center;}
			.history__content-info{max-width: 560px;}
				.history__content-title{font-size: 40px; color: #3368C6; font-weight: 700; margin-bottom: 15px;}
				.history__content-text{color: #626A8F; line-height: 24px;}

				.history__col-info{max-width: 690px; margin-left: auto;}
				.history__content-info{max-width: 560px; }
				.history__col-slider{position: relative; margin-left: 0; padding-right: 0; max-width: 50%; padding-left: 10px;}
				.history__slider{padding-bottom: 40px;}
				.history__scrollbar .swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{bottom: 3px; max-width: 72%;}
				.history__scrollbar .swiper-scrollbar-drag{background: #222E6A; height: 3px; position: relative; top: -1px;}        

				.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal{background: #D9D9D9; height: 1px;}



.blog{}
	.blog__nav{display: flex; justify-content: flex-end;}
	.blog__slider{padding-top: 30px;}
	.blog__item{}
		.blog__item-image{display: block; height: 200px;}
		.blog__item-info{padding-top: 15px;}
			.blog__item-date{font-weight: 500; font-size: 14px; color: #A4A4A4; padding-bottom: 15px; line-height: 1;}
			.blog__item-title{font-weight: 500; font-size: 18px; color: #18336C; padding-bottom: 15px;}
			.blog__item-text{color: #626A8F; line-height: 24px; padding-bottom: 15px;}
			.blog__item-link{display: flex; align-items: center; justify-content: space-between; padding-bottom: 24px; border-bottom: 1px solid #18336C;}
				.more-link{text-decoration: underline; font-size: 18px; font-weight: 500; color: #18336C;}
				.link-arrow{background: url('data:image/svg+xml,<svg width="31" height="8" viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30.3536 3.64645C30.5488 3.84171 30.5488 4.15829 30.3536 4.35355L27.1716 7.53553C26.9763 7.7308 26.6597 7.7308 26.4645 7.53553C26.2692 7.34027 26.2692 7.02369 26.4645 6.82843L29.2929 4L26.4645 1.17157C26.2692 0.976311 26.2692 0.659728 26.4645 0.464466C26.6597 0.269204 26.9763 0.269204 27.1716 0.464466L30.3536 3.64645ZM0 3.5L30 3.5V4.5L0 4.5L0 3.5Z" fill="%233368C6"/></svg>') no-repeat center center; width: 31px; height: 8px; display: block;}
				.swiper-button-next, .swiper-button-prev{margin: 0;}
.blog__btn{margin-top: 30px; text-align: center;}



.news{}

	.news-item{display: block; margin-bottom: 40px;}
		.news-item__image{display: block; height: 200px;}
		.news-item__image img{height: 100%; object-fit: cover;}
		.news-item__info{padding-top: 15px;}
			.news-item__date{font-size: 14px; color: #3368C6; padding-bottom: 15px; line-height: 17px; letter-spacing: 0.05em;}
			.news-item__title{font-size: 16px; color: #18336C; padding-bottom: 15px;}
			.news-item__text{font-size: 14px; color: #626A8F; line-height: 1.4; padding-bottom: 15px;}
			.news-item__link{display: flex; align-items: center; padding-bottom: 21px; border-bottom: 1px solid #18336C; text-decoration: none;}
			.news-item .more-link{ font-size: 14px; font-weight: 600; color: #3368C6; letter-spacing: 0.05em; text-decoration: none!important; margin-right: 15px;}
				
.news-item__btn{margin-top: 30px; text-align: center;}


.news-detail{padding-bottom: 120px;}
	.news-detail__preview{margin-bottom: 30px; display: block;}
	.news-detail__anons{margin-bottom: 50px; font-size: 14px; color: #626A8F; line-height: 1.4;}
	.news-detail__text{color: #626A8F; font-size: 14px; line-height: 1.4;}
	.news-detail__text h2{font-size: 36px; font-weight: 600; text-transform: uppercase; color: #18336C;}
	.news-detail__text h3{font-size: 24px; font-weight: 600; text-transform: uppercase; color: #18336C;}
	.bg-text{background: rgba(190, 208, 255, 0.25); padding: 10px 20px; margin: 15px 0;}
	.bg-text p:last-child{margin-bottom: 0;}
	.quote-text{background: rgba(190, 208, 255, 0.25); padding: 10px 20px; margin: 15px 0; border-left: 2px solid #222E6A;}
	.news-detail__text ol{margin: 15px 0; padding-left: 16px;}
	.news-detail__btn{margin-top: 50px;}

.aside{height: 100%;}	
	.aside__box{position: sticky; top: 20px; box-shadow: 0px 4px 15px rgba(190, 208, 255, 0.25); background: #FFFFFF; padding: 20px;}
		.aside__title{color: #3368C6; font-size: 16px; font-weight: 600; padding-bottom: 15px;}
		.aside__list{list-style-type: none; padding-left: 0;}
		.aside__list li{padding-bottom: 5px;}
		.aside__list a{text-decoration: none;}
		.aside__list>li>a{font-weight: 600; font-size: 20px; color: #626A8F; line-height: 1.4; }
		.aside__list ul{list-style-type: none; padding-top: 5px;}



.wrapper .breadcrumb{border-bottom: 0}
	.content{padding-top: 15px;}
	.page{}
		.page__title{text-transform: uppercase;}
		.page__anons{max-width: 680px;}

.achievements{margin-top: 40px;}
	.achievement{filter: drop-shadow(0px 4px 15px rgba(190, 208, 255, 0.25)); background: #fff; margin-bottom: 40px; }
		.achievement__row{align-items: stretch; flex-wrap: nowrap;}
		.achievement__image{height: 100%; max-width: 320px;}
		.achievement__image img{height: 100%; object-fit: cover;}
		.achievement__info{padding: 40px; background: #FFFFFF;}
			.achievement__subtitle{padding-bottom: 5px; font-size: 14px;}
			.achievement__title{padding-bottom: 20px; font-size: 24px; line-height: 29px; color: #18336C;}
			.achievement__text{font-size: 14px; color: #626A8F; line-height: 1.5;}

.objects{padding-top: 0;}
	.objects__item{margin-bottom: 50px;}
		.objects__slider{}
				.objects__img{}
				.objects__pagination .swiper-pagination-bullet{width: 12px; height: 12px; background: #FFFFFF; border: 1px solid #3368C6; opacity: 1; border-radius: 0;}
				.objects__pagination .swiper-pagination-bullet-active{background: #222E6A; border: 1px solid #222E6A; opacity: 1;}
				.objects__pagination .swiper-pagination{bottom: 15px;}
		.objects__info{padding: 20px 0 20px 0; max-width: 440px;}
			.objects__subtitle{padding-bottom: 15px;}
			.objects__title{font-size: 32px; padding-bottom: 48px;}
			.objects__text{color: #626A8F; line-height: 1.4; padding-bottom: 20px; border-bottom: 1px solid #18336C;}
			.objects__nav{margin-top: 60px; display: flex; gap: 10px;}

.top__slider{}
	.top__item{position: relative;}
		.top__slider .top__info{max-width: 584px; position: absolute; bottom: 0; left: 0; width: 100%;}
		.top__nav{display: flex; width: 96px; height: 40px; position: absolute; bottom: 27px; right: 61px; z-index: 3; border: 1px solid #505C97; background: #3368C6; align-items: center; justify-content: center; gap: 10px;}
			.top__nav-prev{background: url(../i/arrow-left-white.svg) no-repeat center center; display: block; width: 30px; height: 61px; background-repeat: no-repeat; background-size: contain;background-position:center; margin-top: 0; margin-bottom: 0;}
			.top__nav-next{background: url(../i/arrow-right-white.svg) no-repeat center center; display: block; width: 30px; height: 61px; background-repeat: no-repeat; background-size: contain;background-position:center; margin-top: 0; margin-bottom: 0;}

.plant{padding-bottom: 120px;}
	.plant__row{}
	.plant .company__nums{margin-top: 100px; padding-bottom: 100px; border: 0;}
	.plant__subtitle{color: #18336C; font-size: 40px; font-weight: 600; padding-bottom: 30px;}

.documents{padding-top: 0;}
	.documents__row{align-items: stretch; }
		.documents__col{margin-bottom: 25px;}
			.document{padding: 20px 25px; box-shadow: 0px 4px 15px rgba(190, 208, 255, 0.25); display: flex; align-items: center; max-width: 636px; height: 100%; text-decoration: none; transition: all 0.3s;}
				.document__icon{background: url('data:image/svg+xml,<svg width="24" height="30" viewBox="0 0 24 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3 0C1.35 0 0.0150003 1.35 0.0150003 3L0 27C0 28.65 1.335 30 2.985 30H21C22.65 30 24 28.65 24 27V9L15 0H3ZM13.5 10.5V2.25L21.75 10.5H13.5Z" fill="%233368C6"/></svg>') no-repeat center center; width: 24px; height: 30px; }
				.document__title{width: calc(100% - 66px); padding: 0 20px; font-size: 18px; color: #18336C; line-height: 1.15;}
				.document__type{color: #B6B6B6; font-size: 18px; font-weight: 500;}
			.document:hover{box-shadow: 0px 4px 15px rgba(190, 208, 255, 0.9);}

.documents-extended{}
.documents-extended .document{flex-wrap: wrap; align-items: flex-start}
	.documents-extended .document__title{width: 100%; padding: 0; display: block;}
	.documents-extended .document__text{display: block; margin-top: 10px; color: #626A8F; font-size: 14px; line-height: 1.4;}
	.documents-extended .document__info{width: calc(100% - 66px); padding: 0 20px;}
	.documents-extended .document__file{}
	.documents-extended .document__type{display: block; margin-bottom: 20px;}
	.documents-extended .document__size{color: #B6B6B6; font-size: 12px; font-weight: 500;}



.page.catalog .catalog__title{padding-bottom: 50px; }
.page.catalog .profit__items{margin: 100px 0 20px;}


.footer{background: #222E6A; padding-top: 44px; padding-bottom: 53px;}
	.footer *:not(.btn){color: #fff;}
	.footer__row{justify-content: space-between;}
		.footer__col{position: relative;}
			.footer__logotype{}
				.logotype__text{display: block; color: #FFFFFF; font-size: 12px; line-height: 15px; margin-top: 19px;}
			.footer__subtitle{color: #DFE8FF!important; font-weight: 600; font-size: 14px; line-height: 17px; text-transform: uppercase; margin-bottom: 14px;}
			.footer__menu{}
				.footer__menu a{color: #FFFFFF; font-size: 14px; line-height: 17px; display: block; text-decoration: none; margin-bottom: 14px;}
				.footer__menu a:last-child{margin-bottom: 0;}
				.footer__menu a:hover{text-decoration: underline;}
			.footer__phone a{text-decoration: none; font-size: 14px; margin-bottom: 14px; display: block;}
			.footer__email a{text-decoration: none; font-size: 14px; display: block;}

			.policy{color: #FFFFFF; font-size: 13px; display: block; text-decoration: underline; position: absolute; bottom: 0; width: 279px; z-index: 2;}
			.footer__text{max-width: 255px; margin-top: 14px; font-size: 14px;}
				
			.footer__copyright{font-size: 13px; color: #FFFFFF;}
			.footer__col:last-child{text-align: right;}
			.footer__column{display: flex; flex-direction: column; justify-content: space-between; height: 100%;}
					.footer__links{ display: flex; flex-direction: column; align-items: flex-end; gap: 13px;}





.catalog__tags{margin-bottom: 119px;}
.tags{}
	.tags__row{display: flex; gap: 20px; flex-wrap: wrap;}
		.tag{height: 60px; border: 1px solid #B6B6B6; padding: 0px 15px 0px 5px; display: flex; gap: 10px; align-items: center; text-decoration: none; transition: all 0.3s;}
				.tag__img{display: block; width: 58px; height: 58px; overflow: hidden;} 
				.tag__ttl{color: #222E6A;}
		.tag:hover{transform: translateY(-5px); box-shadow:2px 2px 5px 0px rgba(0, 0, 0, 0.2);  }

.catalog__filter{border: 1px solid #DFE8FF; padding: 20px;}
.filter{position: relative;}
	.filter__title{font-weight: 500; color: #18336C; padding-bottom: 20px;}
	.filter__form{max-width: 222px;}
.filter-item{margin-bottom: 20px;}
	.filter-item__top{display: flex; gap: 10px; align-items: center; font-weight: 500; font-size: 14px; color: #222E6A; cursor: pointer;}
	.filter-item__top::before{content: ''; background: url('data:image/svg+xml,<svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.175 5.5L7 9.2085L10.825 5.5L12 6.6417L7 11.5L2 6.6417L3.175 5.5Z" fill="%23222E6A"/></svg>') no-repeat center center; width: 14px; height: 14px; display: block;}
	.filter-item__top.filter-item__active{color: #3368C6}
	.filter-item__top.filter-item__active::before{transform: rotate(180deg); background: url('data:image/svg+xml,<svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.175 5.5L7 9.2085L10.825 5.5L12 6.6417L7 11.5L2 6.6417L3.175 5.5Z" fill="%233368C6"/></svg>')}
	.filter-item__content{display: none;}
	.filter-item__top.filter-item__active + .filter-item__content{display: block;}
		.filter-item__list{background: #F5F5F5; border-radius: 10px; padding: 10px 15px; display: flex; flex-wrap: wrap; row-gap: 10px; margin-top: 8px;}
				.filter-item__label{max-width: 50%; width: 100%; cursor: pointer;}
					.filter-item__title{font-size: 13px; color: #626A8F;}
					.filter-item__checkbox{}
					.filter-item__title::before {content: ""; display: inline-block; width: 16px; height: 16px; background: #fff; border: 1px solid #222E6A; box-shadow: none; transition: color ease .3s; vertical-align: middle; margin-right: 5px; border-radius: 5px;}

					.filter-item__checkbox:checked + .filter-item__title::before {background: #222E6A; border: 1px solid #222E6A; background-image: url('data:image/svg+xml,<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.176 5.91782L0.804663 3.58647L0 4.37756L3.176 7.5L10 0.791092L9.19534 0L3.176 5.91782Z" fill="white"/></svg>'); background-position: center; background-repeat: no-repeat}

		.filter-item__price{display: flex; align-items: center; gap: 15px; margin-top: 8px;}
		.filter-item__price .filter-item__input{border: 1px solid #E0E0E0; border-radius: 10px; height: 36px; width: 101px; padding: 10px 14px; font-size: 13px;}
		.filter-item__price .filter-item__input::placeholder{color: #DEDEDE; font-size: 13px;}
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

		.filter__res{box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15); border-radius: 5px; background: #FFFFFF; padding: 15px 10px; display: flex; flex-direction: column; align-items: center; gap: 5px; width: 150px; position: absolute; left: 250px; bottom: 99px; background: #fff; z-index: 2;}
				.filter__res-text{font-size: 13px; color: #626A8F;}
				.filter__res-link{text-decoration: underline; font-size: 14px; font-weight: 500; color: #3368C6;}






/*.custom-select {
  --fsb-border: 0;
  --fsb-radius: 2em;
  --fsb-color: #fff;
  --fsb-background: #2F86A6;
  --fsb-font-size: 1em;
  --fsb-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  --fsb-padding: .75em 1.5em;
  --fsb-arrow-padding: 1.5em;
  --fsb-arrow-size: .5em;
  --fsb-arrow-color: currentColor;
  --fsb-icon-color: currentColor;
  --fsb-list-height: 200px;
  --fsb-list-border: var(--fsb-border);
  --fsb-list-radius: .75em;
  --fsb-list-color: var(--fsb-color);
  --fsb-list-background: #34BE82;
  --fsb-hover-color: var(--fsb-color);
  --fsb-hover-background: #2FDD92;
}*/

.products{}
	.products__row{row-gap: 50px; }
		.product{position: relative;}
			.product__action{position: absolute; top: 10px; right: 10px; width: 80px; display: flex; align-items: center;}
				.product__compare {background: url(../i/product-compare.svg) no-repeat center center; width: 40px;height: 40px; display: block;}
				.product__compare.in-compare{background: url(../i/product-compare-active.svg) no-repeat center center;}
				.product__favorite{background: url(../i/product-favorite.svg) no-repeat center center; width: 40px;height: 40px; display: block;}
				.product__favorite.in-favorite{background: url(../i/product-favorite-active.svg) no-repeat center center;}
				
			.product__image{border: 1px solid #DFE8FF; padding: 20px; display: block;}
			.product__info{margin-top: 15px;}
				.product__title{font-weight: 600; color: #18336C; line-height: 1.2; margin-bottom: 10px;}
				.option{display: flex; flex-wrap: wrap; gap: 10px; justify-content: space-between;}
					.option__item{display: flex;align-items: center; justify-content: space-between; gap: 10px;}
						.option__name{font-weight: 500; font-size: 13px; color: #626A8F;}
						.option__text{font-weight: 500; color: #222E6A; font-size: 13px;}
			.product__btn{margin-top: 20px; height: 40px; line-height: 36px; font-weight: 500; padding: 0 16px; background: #3368C6; border-color: #3368C6;}
			.product__btn:hover{border-color: #222E6A; color: #fff; background: #222E6A;}

.page__pagination{margin-top: 80px; text-align: center;}
.pagination{justify-content: center; gap: 10px;}
.page-item{align-self: center; }

.page-link,
.page-more{padding: 10px 15px; font-weight: 500; font-size: 16px; border: 1px solid #3368C6; min-width: 40px; outline: none!important; box-shadow: none!important}

.page-more{border: 0;}
.page-item.active .page-link {color: #fff; background-color: #3368C6; border-color:#3368C6 }
.page-item:first-child .page-link,
.page-item:last-child .page-link { border-radius: 0!important; }
.page-link:hover { color: #fff; background-color: #3368C6; border-color: #3368C6; }

.product-card{}
	.product-card__slider{}
	.product-slider{border: 1px solid #DFE8FF; height: 440px; position: relative;}
		.product-slider__main{}
		.main-slider__item{text-align: center; display: block;}
		.product-slider__thumbs{position: absolute; width: 220px; height: 60px; bottom: 15px; left: 50%; right: 50%; transform: translateX(-50%); z-index: 5;}
			.thumbs-slider__item{width: 60px; height: 60px; border: 1px solid #DFE8FF; display: flex; align-items: center; justify-content: center; cursor: pointer;}
			.swiper-slide-thumb-active{border-color: #3368C6;}
	.product-card__info{}
		.product-card__props{}
		.product-props{}
			.product-props__title{font-size: 16px; font-weight: 500; color: #222E6A; padding-bottom: 15px;}
			.product-props__list{}
				.product-props__item{font-size: 14px; display: flex; justify-content: space-between; padding-bottom: 15px; border-bottom: 1px solid #222E6A; margin-top: 10px;}
					.product-props__name{color: #979797;}
					.product-props__text{color: #222E6A; text-align: right;}
			.product-props__more{margin-top: 25px;}
				.product-props__btn{color: #3368C6; text-decoration: underline; font-weight: 500; text-underline-offset: 4px;}
	.product-card__controls{padding: 25px 20px; background: #F6F9FF; position: relative;}
		.product-controls__title{font-weight: 500; color: #3368C6; font-size: 16px; margin-bottom: 25px;}
		.product-controls__mark{position: absolute; top: 25px; right: 20px; background: #BD5353; border-radius: 5px; padding: 0 10px; font-size: 13px; color: #FFFFFF; line-height: 26px; text-align: center; display: inline-block;}
		.product-controls__price{font-size: 20px; white-space: nowrap; margin-bottom: 25px;}
			.current-price{font-weight: 500; color: #222E6A;}
			.old-price{margin-left: 9px; text-decoration: line-through; color: #808080;}
		.product-controls__pay{display: flex; align-items: center; justify-content: space-between;}
			.quantity{background: #FFFFFF; width: 144px; height: 40px; border: 1px solid #E3E3E3; display: flex; align-items: center; justify-content: center;}
				.quantity__input{padding: 8px 30px; text-align: space-between; font-size: 14px; color: #222E6A;}
				.quantity__button{color: #3368C6; font-size: 14px; width: 40px; height: 40px; line-height: 40px;}
			.product-controls__btn{}
.product-controls__action{margin-top: 25px;}
	.product-controls__compare{font-weight: 500; color: #3368C6; font-size: 14px; text-decoration: none; border-bottom: 1px solid #3368C6; margin-right: 25px; height: 27px; display: inline-block;}
	.product-controls__compare:before{content: ''; background: url(../i/card-compare.svg) no-repeat center center; width: 24px;height: 24px; display: inline-block; vertical-align: middle; margin-right: 3px;}
	.product-controls__compare.in-compare:before{background: url(../i/card-compare-active.svg) no-repeat center center;}
	.product-controls__compare.in-compare{color: #222E6A; border-bottom-color: #222E6A;}

	.product-controls__favorite{font-weight: 500; color: #3368C6; font-size: 14px; text-decoration: none; border-bottom: 1px solid #3368C6;height: 27px; display: inline-block;}
	.product-controls__favorite:before{content: ''; background: url(../i/card-favorite.svg) no-repeat center center; width: 24px;height: 24px; display: inline-block; vertical-align: middle; margin-right: 3px;}
	.product-controls__favorite.in-favorite:before{background: url(../i/card-favorite-active.svg) no-repeat center center;}
	.product-controls__favorite.in-favorite{color: #222E6A; border-bottom-color: #222E6A;}
	.product-controls__compare:hover,
	.product-controls__favorite:hover{color: #222E6A; border-bottom-color: #222E6A;}

.product-card__tabs{margin-top: 50px;}
	.product-tabs__nav{display: flex; position: relative;}
	.product-tabs__nav:after{content: ''; background: #AEAEAE; width: 100%; height: 1px; bottom: 0; right: 0; left: 0; position: absolute; z-index: 1;}
		.product-tabs__link{display: block; border: 1px solid #222E6A; height: 47px; padding: 0 20px; font-weight: 500; color: #222E6A; text-decoration: none; border-right: 0; line-height: 47px; position: relative; z-index: 2;}
		.product-tabs__link:last-child{border-right: 1px solid #222E6A;}
		.product-tabs__link.active,
		.product-tabs__link:hover{background: #222E6A; color: #fff;}

	.product-tabs__content{padding-bottom: 160px;}
		.product-tabs__item{padding-top: 50px; display: none;}
		.product-tabs__item.active{display: block;}
			.product-tabs__description{max-width: 680px; color: #626A8F; line-height: 1.5;}
				.product-tabs__title{font-weight: 600; font-size: 24px; color: #18336C; padding-bottom: 20px;}
				.product-tabs__title + p{margin-top: 0!important;}
.product-tabs__props{}
.product-tabs__props .product-props__list{display: flex; column-gap: 122px; flex-wrap: wrap;}
.product-tabs__props .product-props__item{max-width: 560px; width: 100%;}

.product-docs{display: flex; column-gap: 40px; flex-wrap: wrap;}
	.product-docs__item{max-width: 600px; width: 100%; box-shadow: 0px 4px 15px rgba(190, 208, 255, 0.25); padding: 16px 20px; text-decoration: none; display: flex; align-items: center; justify-content: space-between; font-weight: 500; margin-bottom: 10px;}
		.product-docs__title{color: #222E6A; display: block; width: calc(100% - 122px);}
		.product-docs__type{color: #3368C6; text-transform: uppercase; margin-right: 15px;}
		.product-docs__size{color: #626A8F; text-align: right;}
	.product-docs__item:hover{box-shadow: 0px 4px 15px rgba(190, 208, 255, 0.9);}

.support{}
	.support__row{margin-bottom: 120px;}
		.support__item{display: block; position: relative; min-height: 240px; overflow: hidden; padding: 30px; text-decoration: none;}
		.support__item:before{content: ''; position: absolute; top: 0; right: 0; left: 0; bottom: 0; backdrop-filter: blur(7.5px); background: linear-gradient(0deg, rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45));}
		.support__item:hover:before{background: linear-gradient(0deg, rgba(34, 46, 106, 0.44), rgba(34, 46, 106, 0.44));}
			.support__item-title{position: relative; color: #222E6A; font-weight: 500; font-size: 24px;}
			.support__item-img{display: block; position: absolute; top: 32px; right: 48px;}
			.support__item-arrow{display: block; width: 40px; height: 40px; border: 1px solid #222E6A; border-radius: 100px; position: absolute; bottom: 30px;left: 30px; background:url('data:image/svg+xml,<svg width="31" height="8" viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30.3536 3.64645C30.5488 3.84171 30.5488 4.15829 30.3536 4.35355L27.1716 7.53553C26.9763 7.7308 26.6597 7.7308 26.4645 7.53553C26.2692 7.34027 26.2692 7.02369 26.4645 6.82843L29.2929 4L26.4645 1.17157C26.2692 0.976311 26.2692 0.659728 26.4645 0.464466C26.6597 0.269204 26.9763 0.269204 27.1716 0.464466L30.3536 3.64645ZM0 3.5L30 3.5V4.5L0 4.5L0 3.5Z" fill="%23222E6A"/></svg>') no-repeat center center;}
			.support__item:hover .support__item-arrow{ border: 1px solid #FFFFFF; background:url('data:image/svg+xml,<svg width="31" height="8" viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30.3536 3.64645C30.5488 3.84171 30.5488 4.15829 30.3536 4.35355L27.1716 7.53553C26.9763 7.7308 26.6597 7.7308 26.4645 7.53553C26.2692 7.34027 26.2692 7.02369 26.4645 6.82843L29.2929 4L26.4645 1.17157C26.2692 0.976311 26.2692 0.659728 26.4645 0.464466C26.6597 0.269204 26.9763 0.269204 27.1716 0.464466L30.3536 3.64645ZM0 3.5L30 3.5V4.5L0 4.5L0 3.5Z" fill="white"/></svg>') no-repeat center center;}
			.support__item:hover .support__item-title{color: #fff}
			.support .profit__items{margin-bottom: 100px;}
.answer{}
	.answer__row{margin-bottom: 100px;}
	.answer__item{display: block; position: relative; height: 340px; padding: 30px; text-decoration: none; background-repeat: no-repeat!important; background-size: cover!important;}
	.answer__item::before{content: ''; background: linear-gradient(126.09deg, #DFE8FF 9.78%, rgba(223, 232, 255, 0) 83%); position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: block;}
	.answer__item:hover:before{background: linear-gradient(0deg, rgba(34, 46, 106, 0.44), rgba(34, 46, 106, 0.44));}
		.answer__item-title{position: relative; color: #222E6A; font-weight: 500; font-size: 24px;}
		.answer__item:hover .answer__item-title{color: #fff}
		.answer__item-arrow{display: block; width: 40px; height: 40px; border: 1px solid #222E6A; border-radius: 100px; position: absolute; bottom: 30px;right: 30px; background:url('data:image/svg+xml,<svg width="31" height="8" viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30.3536 3.64645C30.5488 3.84171 30.5488 4.15829 30.3536 4.35355L27.1716 7.53553C26.9763 7.7308 26.6597 7.7308 26.4645 7.53553C26.2692 7.34027 26.2692 7.02369 26.4645 6.82843L29.2929 4L26.4645 1.17157C26.2692 0.976311 26.2692 0.659728 26.4645 0.464466C26.6597 0.269204 26.9763 0.269204 27.1716 0.464466L30.3536 3.64645ZM0 3.5L30 3.5V4.5L0 4.5L0 3.5Z" fill="%23222E6A"/></svg>') no-repeat center center;}
		.answer__item:hover .answer__item-arrow{ border: 1px solid #FFFFFF; background:url('data:image/svg+xml,<svg width="31" height="8" viewBox="0 0 31 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M30.3536 3.64645C30.5488 3.84171 30.5488 4.15829 30.3536 4.35355L27.1716 7.53553C26.9763 7.7308 26.6597 7.7308 26.4645 7.53553C26.2692 7.34027 26.2692 7.02369 26.4645 6.82843L29.2929 4L26.4645 1.17157C26.2692 0.976311 26.2692 0.659728 26.4645 0.464466C26.6597 0.269204 26.9763 0.269204 27.1716 0.464466L30.3536 3.64645ZM0 3.5L30 3.5V4.5L0 4.5L0 3.5Z" fill="white"/></svg>') no-repeat center center;}
		.answer .profit__items{margin-bottom: 100px;}